@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form action="/Staff/UpdateStaff" method="post">
    <input  type="hidden" asp-for="StaffId" />
    <label>Personel Adı</label>
    <input asp-for="Name" />
    <br />
    <label>Personel Unvanı</label>
    <input asp-for="Title" />
    <br />
    <label>Sosyal Medya 1</label>
    <input asp-for="SocialMedia1" />
    <br />
    <label>Sosyal Medya 2</label>
    <input asp-for="SocialMedia2" />
    <br />
    <label>Sosyal Medya 3</label>
    <input asp-for="SocialMedia3" />
    <br />
    <button type="submit" class="btn mb-1 btn-rounded btn-outline-primary">Personeli Güncelle</button>
</form>

