@model List<BookingApiViewModel.Result>
@{
    int count = 0;
}
<div class="container">
    <br /><br />
@using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
{
    <label>Şehir ID'si giriniz</label>
    <input type="text" class="form-control" name="CityId" />
    <button type="submit" class="btn btn-primary">Şehir için otelleri listele</button>
}

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Otel Detaylar</th>

        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a class="bht btn-outline-dark">Detaylar</a></td>

            </tr>
        }
    </table>
</div>